In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sreer\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sreer\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sreer\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sreer\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sreer\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sreer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

In [3]:
a=["abc",1,2,3,"def"]
a

['abc', 1, 2, 3, 'def']

In [4]:
s=pd.Series(a)
s

0    abc
1      1
2      2
3      3
4    def
dtype: object

In [5]:
b=pd.Series([1,2,3,4,5,6])
b

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [6]:
b[0]

1

In [10]:
c=pd.Series(a,index=['c1','c2','c3','c4','c5'])
c

c1    abc
c2      1
c3      2
c4      3
c5    def
dtype: object

In [11]:
c['c5']

'def'

In [7]:
mydict={"sno":[1,2,3,4],"name":['achu','vichu','kichu','sachu'],"marks":[11,34,25,56]}
mydict

{'sno': [1, 2, 3, 4],
 'name': ['achu', 'vichu', 'kichu', 'sachu'],
 'marks': [11, 34, 25, 56]}

In [8]:
df=pd.DataFrame(mydict)
df

   sno   name  marks
0    1   achu     11
1    2  vichu     34
2    3  kichu     25
3    4  sachu     56

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sno     4 non-null      int64
 1   name    4 non-null      object
 2   marks   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

df.describe()